.hero {
    height: 100vh;
    position: relative;
    width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    background: #222;
    background-image: url(https://source.unsplash.com/1600x900/?landscape);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    font-size: 80%;
}

.logo {
    width: 150px;
    cursor: pointer;
}

.navbar {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav {
    display: flex;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    width: 53px;
    height: 16px;
    display: inline-block;
    list-style: none;
    padding: 7px;
    border-radius: 20px;
    margin: 10px 25px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

.hero a:hover {
    color: orange;
}

nav ul li a:hover {
    color: red;
}

.card {
    position: absolute;
    bottom: 28px;
    left: 40px;
    background: transparent;
    color: white;
    padding: 1em;
    border-radius: 30px;
    width: 100%;
    max-width: 190px;
    margin: 2em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: 0.5em;
    border-radius: 100%;
    background: #00000075;
    color: white;
    transition: 0.2s ease-in-out;
    color: #fbfcfd;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
}

input.search-bar {
    border: 5px;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #0000008a;
    color: white;
    font-family: inherit;
    font-size: 110%;
    width: 127px;
}

button:hover {
    background: #7c7c7c6b;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
}

.flex {
    display: flex;
    align-items: center;
}

.description {
    text-transform: capitalize;
    margin-left: 8px;
}

.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
}

.weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
}


.container {
    font-family: "Arial", Helvetica, sans-serif;
    padding: 3px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 89%;
    left: 76%;
    transform: translate(50%, -50%);
    font-size: 25px;
    white-space: nowrap;
}


.side-bar {
    width: 50px;
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
}

.social-links img,
.useful-links img {
    background: rgba(131, 124, 124, 0.46);
    border-radius: 100%;
    width: 35px;
    position: relative;
    right: 10px;
    top: 20px;
    margin: 10px;
    cursor: pointer;
}

.social-links {
    width: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.useful-links {
    width: 50px;
    text-align: center;
    position: absolute;
    bottom: 30px;
}




@media screen and (max-width: 600px){
    .card {
        position: absolute;
        bottom: 28px;
        left: 40px;
        background: transparent;
        color: white;
        padding: 1em;
        border-radius: 30px;
        width: 100%;
        max-width: 190px;
        margin: 2em;
        bottom: 327px;
        left: 13%;
    }

    .container {
        font-family: "Arial", Helvetica, sans-serif;
        padding: 3px;
        color: #ffffff;
        font-weight: bold;
        position: absolute;
        top: 72%;
        left: 3.5%;
        transform: translate(50%, -50%);
        font-size: 25px;
        white-space: nowrap;
    }

    .logo {
        left: 2px;
        top: 20px;
        position: absolute;
        width: 111px;
        cursor: pointer;
    }


    nav ul li {
        height: 15px;
        list-style: none;
        padding: 6px;
        border-radius: 20px;
        display: list-item;
        list-style: none;
        margin: 10px 25px;
        text-align: center;
        font-weight: bold;
        font-size: 15px;
    }


    nav ul li a {
        right: 95px;
        position: absolute;
        text-decoration: none;
        color: #ffffff;
        font-weight: bold;
    }

    .side-bar {
        left: 45px;
        position: absolute;
        top: 690px;
        width: 100%;
        display: flex;
        box-sizing: border-box;
    }

    .social-links{
        width: auto;
        position: unset;
        transform: none;
    }
    
    .useful-links{
        width: auto;
        position: unset;
    }

    .menu{
        width: 18px;
        margin: 0;
    }
}
    
